:root{
    /*size*/
    --body-left : 380px;
    --body-right : 380px;
    --body-width : 1200px;
}

body{
    margin : 0px;
    overflow-x : hidden;
}
header{
    display : flex;
    height : 35px;
    background-color : #4B5965;
}
header .information{
    display : flex;
    justify-content: space-between;
    width : var(--body-width);
    margin : 0 auto;
}
header .informationList{
    margin : 0px;
    position : relative;
    display : flex;
    padding-left : 0px;
    list-style : none;
    font-weight : bold;
    font-size : 12px;
    letter-spacing : -0.075em;
    color: #d0d3d5;
}
header .informationList li{
    display : flex;
    padding-left : 13px;
    padding-right : 13px;
    padding-top : 7px;
}
header .information .informationList #first{
    padding-left : 0px;
}
header .informationList #before::before{
    background : #5a6a76;
    width : 2px;
    height : 7px;
    margin-left : -12px;
    margin-top : 5px;
    position : absolute;
    content : '';
    display : inline-block;
}
header .search{
    position : relative;
    display : flex;
    margin-top : 4px;
    padding-left : 300px;
}
header .search input{
    background-color : #394856;
    border-radius : 13px;
    width : 210px;
    height : 25px;
    border : 0px;
    padding : 0px;
    padding-left : 15px;
    padding-right : 15px;
}
header .search input::placeholder{
    font-size : 12px;
    color : #8996a0;
}
header .search img{
    position : relative;
    margin-left : 10px;
    margin-bottom : 7px;
    object-fit: none;
}

body .category{
    display : flex;
    height : 99px;
}
body .category .inside{
    display : flex;
    justify-content : space-between;
    width : var(--body-width);
    margin : 0 auto;
}
body .category img{
    object-fit : none;
}
body .category #logo{
    position : relative;
}
body .category .element{
    position : relative;
    display : flex;
}
body .category .element .detail{
    display : flex;
    list-style : none;
    font-size : 17px;
    color : #555555;
    letter-spacing : -0.075em;
}
body .category .element .detail li{
    margin-top : 20px;
    padding-right : 50px;
}

body .news{
    display : flex;
}
body .news .pictureInformation{
    display : relative;
    height : 620px;
}
body .news .pictureInformation #backgroundImage{
    position : absolute;
    display : block;
    right : 50%;
    left : 50%;
    transform : translate(-50%, 0%);
}
body .news .pictureInformation .explanation{
    position : absolute;
    background-image: url("img0.png");
    width : 510px;
    height : 235px;
    margin-left : 55vw;
    margin-top : 295px;
    margin-right : -600px;
}
body .news .pictureInformation .information{
    position : absolute;
    padding-top : 25px;
    list-style : none;
    color : #ffffff;
    padding-left : 35px;
}
body .news .pictureInformation .information .text0{
    font-size : 18px;
    letter-spacing : -0.12em;
}
body .news .pictureInformation .information .text1{
    font-size : 28px;
    letter-spacing : -0.12em;
    margin-top : 2px;
}
body .news .pictureInformation .information .text1::after{
    background : white;
    width : 30px;
    height : 2px;
    position : absolute;
    top :95px;
    left : 40px;
    content : '';
    display : inline-block;
}
body .news .pictureInformation .information .text2{
    padding-top : 19px;
}
body .news .pictureInformation .information .text2 ul{
    font-size : 14px;
    list-style : none;
    padding-inline-start: 0px;
    letter-spacing: -0.095em;
    opacity : 0.7;
}
body .news .pictureInformation .information .text2 li{
    margin-bottom : 4px;
}